$font: "Poppins", sans-serif;

$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopXL: 1200px;

$transparent: transparent;
$white: rgb(255 255 255);
$black: rgb(0 0 0);

$slate-50: rgb(248 250 252);
$slate-100: rgb(241 245 249);
$slate-200: rgb(226 232 240);
$slate-300: rgb(203 213 225);
$slate-400: rgb(148 163 184);
$slate-500: rgb(100 116 139);
$slate-600: rgb(71 85 105);
$slate-700: rgb(51 65 85);
$slate-800: rgb(30 41 59);
$slate-900: rgb(15 23 42);

$blue-50: rgb(230 234 248);
$blue-100: rgb(204 214 240);
$blue-200: rgb(179 194 231);
$blue-300: rgb(153 175 220);
$blue-400: rgb(130 156 209);
$blue-500: rgb(109 137 197);
$blue-600: rgb(88 119 183);
$blue-700: rgb(68 101 169);
$blue-800: rgb(50 83 154);
$blue-900: rgb(32 66 137);

$shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
